<div id="artists">
    <%= collection_select(:post, :artist_id, @artists, :id, :name,
    {  },  { :size => "10", :multiple => "multiple"}) %>
    <%= observe_field("post_artist_id", :update => 'albums',
    :url => {:action => :browse_album}, :on => "changed" , :with => "'artists=' +value") %>
</div>
<div id="albums">
    <%= collection_select(:post, :album_id, @albums, :id, :title,
    {  },  { :size => "10", :multiple => "multiple"}) %>
    <%= observe_field("post_album_id", :update => 'script',
    :url => {:action => :browse_songs}, :on => "changed" , :with => "'albums=' +value") %>
	<%= render :partial => "song_array" %>
</div>
